@model NisInventoryManagementMvc.Models.ArrivalViewModel

@{
    ViewData["Title"] = "Create";
}


<h4>入荷登録</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label>@Html.DisplayNameFor(model => model.ProductName)</label>
                <p>@Html.DisplayFor(model => model.ProductName)</p>
                <input type="hidden" asp-for="ProductId" />
                <input type="hidden" asp-for="ProductName" />
            </div>
            <div class="form-group">
                @Html.DisplayNameFor(model => model.Quantity)
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.DisplayNameFor(model => model.ReceiptDate)
                <input asp-for="ReceiptDate" class="form-control" />
                <span asp-validation-for="ReceiptDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">一覧画面に戻る</a>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

